@import "tailwindcss";

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

input {
  -webkit-user-select: auto;
  user-select: auto;
}

@media print {
  body * {
    visibility: hidden;
  }
  #bulletin-to-print, #bulletin-to-print * {
    visibility: visible;
  }
  #bulletin-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 20px !important;
    border: none !important;
    box-shadow: none !important;
  }
  .no-print {
    display: none !important;
  }
}
